.partnet-reg-container {
    padding-left: 2rem;
    padding-right: 2rem;
}

.ngx-toastr {
    width: auto !important;
    max-width: 600px !important;
}

mat-grid-list {
    margin-top: 10px;
}

.stepper-action-button{
    width: 13%;
}

.check-box-section {
    margin: 12px 0;
}

// ::-webkit-scrollbar {
//     -webkit-appearance: none;
//     width: 7px;
//   }
  
//   ::-webkit-scrollbar-thumb {
//     border-radius: 4px;
//     background-color: rgba(0, 0, 0, .5);
//     box-shadow: 0 0 1px rgba(255, 255, 255, .5);
//   }