<mat-card class="demo-inline-calendar-card">
    <!-- <section>
    <mat-button-toggle-group>
        <mat-button-toggle value="bold">Bold</mat-button-toggle>
        <mat-button-toggle value="italic">Italic</mat-button-toggle>
        <mat-button-toggle value="underline">Underline</mat-button-toggle>
      </mat-button-toggle-group>
</section> -->
    <full-calendar [options]="calendarOptions">
        <!-- <ng-template #eventContent let-arg>
            <b>{{ arg.timeText }}</b>
            <i>{{ arg.event.title }}</i>
        </ng-template> -->
    </full-calendar> 
</mat-card>